<h1 style="color:white;text-shadow: -1px -1.5px 1px #f502e1;">hallo</h1>
<ul>
{% for song in music %}
<li>
    <p class="text">{{ song.music.title }} - {{ song.music.artist.name }}</p>
    <ol style="list-style-type: square; padding-bottom: 0;">
        {% for item in song.tracks %}
            <li>
                <button onclick="audio('{{ item.file.url }}', '{{song.music.artist.name}} - {{song.music.title}} ({{ item.title }})', '{{song.music.pk}}', '{{song.music.artist.pk}}')"> {# TODO: make sure this plays in the background #}
                    {{ item.title }}
                </button>
            </li>
        {% endfor %}
    </ol>
</li>
{% endfor %}
</ul>