<h1>hallo</h1>
<ul>
{% for song in music %}
<li>
    <b>{{ song.musicItem.title }}</b> - {{ song.musicItem.album.artist.name }} - {{ song.musicItem.album.title }}
    <ol style="list-style-type: square; padding-bottom: 0;">
        {% for item in song.tracks %}
            <li>
                <button onclick="audio('{{ item.file.url }}', '{{song.musicItem.artist.name}} - {{song.musicItem.title}} ({{ item.title }})')">
                    {{ item.title }}
                </button>
            </li>
        {% endfor %}
    </ol>
</li>
{% endfor %}
</ul>