<p class="playlistIT">{{ object.title }}</p>
<ol style="padding: 0; margin: 0; list-style-type: none;">
  <script>
    var playlist = [];
  </script>
  {% for song in songs %}
    <script>
    playlist = playlist.concat([
    "{{ song.version.file.url }}", "{{song.version.music.artist.name}} - {{song.version.music.title}} ({{ song.version.title }})", "{{song.version.music.pk}}", "{{song.version.music.artist.pk}}"
    ]);
</script>
    <li>
      <button class="playlistIBO" onclick="audio('{{ song.version.file.url }}', '{{ song.version.music.artist.name }} - {{ song.version.music.title }} ({{ song.version.title }})', '{{ song.version.music.pk }}', '{{ song.version.music.artist.pk }}', {{song.version.pk}})">{{ song }}</button>
    </li>
  {% endfor %}
</ol>
<button class="playlistIB" onclick="upnext = playlist; play_next();">play</button>
<button class="playlistIB" onclick="add_current_to_pl({{object.pk}}); show_pl({{object.pk}});">add current song</button>