<html>
    <head>
        <style>
            body {background-color: rgb(31, 31, 31);}
        </style>
    </head>
    <body>
        <center>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        <form action="." method="post">
        <b>  <label style="font-family: Verdana,sans-serif; color:azure; font-size:75px;" for="username">Username</label> </b>
            <br>
            <input type="text" id="username" name="username" style="font-size:25px;">
            <br>
            <br>
            <b> <label style="font-family: Verdana,sans-serif; color:azure; font-size:75px;" for="password">Password</label> </b>
            <br>
            <input type="password" id="password" name="password" style="font-size:25px;">
            <br>
            <br>
            {% csrf_token %}
            <input type="submit" value="Log in"style="font-size:50px;">
        </form>
        </center>
    </body>
</html>