<html>
    <head>
        <style>
            body {background-color: rgb(31, 31, 31);}
        </style>
    </head>
    <body>
        <form action="." method="post">
        <b>  <label style="font-family: Verdana,sans-serif;" for="username">Username</label> </b>
            <br>
            <input type="text" id="username" name="username">
            <br>
            <br>
            <b> <label style="font-family: Verdana,sans-serif;" for="password">Password</label> </b>
            <br>
            <input type="password" id="password" name="password">
            <br>
            {% csrf_token %}
            <input type="submit" value="Log in">
        </form>
    </body>
</html>